body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(7, 50px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell.blue {
    background-color: blue;
    border-radius: 50%;
}

.cell.red {
    background-color: red;
    border-radius: 50%;
}

#status {
    font-size: 1.2em;
    margin-top: 20px;
}

.cell.highlight {
    background-color: #aaffaa;
    /* Verde claro para destacar */
    cursor: pointer;
}